{% extends "base.html" %}

{% block body %}
<div class="content mt-3">
    <table class="table table-striped">
        <!--<thead>-->
            <!--<tr>-->
                <!--<th scope="col"> stream </th>-->
                <!--<th scope="col"> stream </th>-->
            <!--</tr>-->
        <!--</thead>-->
        <tbody>
            {% for j in logs %}
            <tr>
                <td>{{ j[0] }}</td>
                <td>{{ j[1] }}</td>
                <td>{{ j[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if (nbpages == 0 or nbpages == 1) %}
        <label>{{nbpages}}</label>
        {% else %}
        {% if currentpage > 6 %}
        <a href="/logs/{{process}}/1">First</a>
        <label>...</label>
        {% endif %}
        {% for i in [5, 4, 3, 2, 1] %}
        {% if currentpage > i %}
        <a href="/logs/{{process}}/{{currentpage - i}}">{{currentpage - i}}</a>
        {% endif %}
        {% endfor %}
        <label>{{currentpage}}</label>
        {% for i in [1, 2, 3, 4, 5] %}
        {% if currentpage <= (nbpages - i) %}
        <a href="/logs/{{process}}/{{currentpage + i}}">{{currentpage + i}}</a>
        {% endif %}
        {% endfor %}
        {% if currentpage < (nbpages - 5) %}
        <label>...</label>
        <a href="/logs/{{process}}/{{nbpages}}">Last</a>
        {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}