{% extends "base.html" %}

{% block body %}
<div class="content mt-3">

    <table class="table table-striped">
        <thead>
        <tr>
            {% for k in headers %}
            <th scope="col">{{ k }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for j in logs %}
        <tr>
            {% for v in j %}
                {% if loop.index == 1 %}
                    <td><a href="/api/job/{{v}}">{{ v }}</a></td>
                {% else %}
                    <td>{{ v }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}


